@font-face {
  font-family: Sequel Sans Book Disp;
  src: url('../fonts/Sequel-Sans-Book-Disp.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary: #fff;
  --text-color--text-primary: var(--base-color-neutral--black);
  --base-color-neutral--black: #000;
  --background-color--background-primary: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --background-color--background-secondary: var(--base-color-brand--blue);
  --link-color--link-primary: var(--base-color-brand--blue);
  --background-color--background-tertiary: var(--base-color-brand--pink);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --brand: #ed4023;
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --transparent: #0000;
  --base-color-neutral--white: #fff;
  --secondary-background: #ebebeb;
  --base-color-brand--blue-light: #d9e5ff;
  --base-color-brand--blue: #2d62ff;
  --base-color-brand--blue-dark: #080331;
  --base-color-brand--pink-light: #ffaefe;
  --base-color-brand--pink: #dd23bb;
  --base-color-brand--pink-dark: #3c043b;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
  --border-color--border-secondary: var(--base-color-brand--blue);
  --link-color--link-secondary: var(--base-color-neutral--black);
  --link-color--link-alternate: var(--base-color-neutral--white);
}

.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  background-color: var(--background-primary);
  color: var(--text-color--text-primary);
  font-family: Sequel Sans Book Disp, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--base-color-neutral--black);
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  border: 1px solid #0000001a;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, #2d40ea1a, #fff0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid #0000001a;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid #0000001a;
  width: 100%;
  padding-bottom: 2rem;
}

.background-color-primary {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 5rem;
  line-height: 1.1;
}

.padding-global {
  padding-left: 3%;
  padding-right: 3%;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-style-italic {
  font-style: italic;
}

.pointer-events-none {
  pointer-events: none;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: #2d40ea0d;
  border: 1px dashed #2d40ea;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 50rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.form_input {
  border: 1px solid var(--border-color--border-primary);
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.form_input::placeholder, .form_input.is-select-input {
  color: var(--text-color--text-secondary);
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
  font-size: 1rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  background-image: radial-gradient(circle at 100% 100%, #dd23bb40, #0000 40%), radial-gradient(circle at 0 100%, #2d62ff4d, #0000 60%);
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

.fs-styleguide_label {
  background-color: var(--background-color--background-secondary);
  color: var(--text-color--text-alternate);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: var(--background-color--background-tertiary);
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-image: radial-gradient(circle farthest-corner at 50% 120%, #dbbd7c, var(--brand) 52%, #9a0a0a);
  color: var(--text-color--text-alternate);
  text-align: center;
  border: 1px solid #ffffff4d;
  border-radius: 3rem;
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  transition: all .35s cubic-bezier(.165, .84, .44, 1);
  box-shadow: 0 3px 4px #d600004d, 0 -3px 4px #d600004d, 3px 0 4px #d600004d, -3px 0 4px #d600004d;
}

.button:hover {
  background-color: var(--text-color--text-primary);
  box-shadow: none;
  color: var(--background-primary);
  background-image: none;
}

.button.is-text {
  color: #000;
  background-color: #0000;
  border: 2px solid #0000;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--border-color--border-alternate);
  color: var(--text-color--text-primary);
  background-color: #0000;
}

.button.is-secondary.is-small {
  padding: .5rem 1.25rem;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-brand {
  background-color: var(--background-color--background-secondary);
}

.button.is-big {
  padding: 2rem;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  background-color: #2d40ea1a;
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.fs-styleguide_message {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-warning);
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_component {
  background-color: #000;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  inset: 0% 0% auto;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav_logo {
  width: 10rem;
}

.nav_menu_link {
  color: #fff;
  padding: 1rem;
}

.nav_button {
  padding: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.background-color-tertiary {
  background-color: var(--background-color--background-tertiary);
}

.fs-styleguide_hero-label {
  color: var(--text-color--text-primary);
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.hero_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  display: flex;
  position: relative;
}

.hero_image {
  border-radius: 1rem;
  margin-top: 0;
}

.hero_heading {
  font-size: 4rem;
}

.section_hero {
  color: #fff;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 100svh;
  padding-bottom: 7.25rem;
  display: flex;
  position: relative;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.nav_fixed {
  z-index: 4;
  position: absolute;
  inset: 0% 0% auto;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

.navbar1_component {
  background-color: var(--transparent);
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 2.5rem;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
}

.navbar1_container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navbar1_logo-link {
  color: var(--base-color-neutral--white);
  padding-left: 0;
  transition: color .35s cubic-bezier(.165, .84, .44, 1);
}

.navbar1_logo-link:hover {
  color: #ed4023;
}

.navbar1_logo {
  width: 11.13rem;
  line-height: 0;
}

.navbar1_menu {
  align-items: center;
  display: flex;
  position: static;
}

.navbar1_link {
  color: var(--base-color-neutral--white);
  padding: .5rem 1rem;
}

.navbar1_link.w--current {
  color: #000;
}

.navbar1_dropdown-toggle {
  grid-column-gap: .5rem;
  align-items: center;
  padding: .5rem 1rem;
  display: flex;
}

.dropdown-chevron {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.navbar1_dropdown-list.w--open {
  background-color: #fff;
  border: 1px solid #000;
  padding: .5rem;
}

.navbar1_dropdown-link {
  padding: .5rem 1rem;
}

.navbar1_dropdown-link.w--current {
  color: #000;
}

.navbar1_menu-buttons {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: 1rem;
  display: flex;
}

.navbar1_menu-button {
  padding: 0;
}

.container-xlarge {
  width: 100%;
  max-width: 240rem;
  margin-left: auto;
  margin-right: auto;
}

.image-cover, .hero_background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.hero_overlay {
  background-color: var(--base-color-neutral--black);
  opacity: .65;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.section_loop {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

.loop_mover {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  white-space: nowrap;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  display: grid;
}

.loop_group {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  display: grid;
}

.loop_text {
  margin-right: 3rem;
  font-size: 7rem;
  line-height: 1;
}

.loop_icon {
  width: 4.9rem;
  margin-right: 3rem;
  line-height: 0;
}

.feature_component {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: var(--secondary-background);
  border-radius: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  min-height: 32rem;
  padding: 4rem 3rem;
  display: grid;
}

.feature_left-content {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.feature_image-wrapper {
  border: 1px solid var(--base-color-neutral--white);
  background-color: var(--background-primary);
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  display: flex;
}

.feature_logo {
  width: 22rem;
}

.feature_logo.invert {
  filter: invert();
}

.feature_top-content {
  grid-column-gap: 3.88rem;
  grid-row-gap: 3.88rem;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 36rem;
  display: flex;
}

.feature_subtitle {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.feature_subtitle.is-center {
  justify-content: center;
  align-items: center;
}

.feature_subtitle-circle {
  border: 1px solid var(--base-color-neutral--white);
  background-color: var(--brand);
  border-radius: 50%;
  flex: none;
  width: .75rem;
  height: .75rem;
  margin-top: .35rem;
}

.feature_subtitle-circle.no-margin {
  margin-top: 0;
}

.feature_image {
  max-width: 75%;
}

.feature2_component {
  grid-column-gap: 4.5rem;
  grid-row-gap: 4.5rem;
  background-color: var(--secondary-background);
  text-align: center;
  border-radius: 1rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  padding: 5.5rem 3rem;
  display: flex;
}

.feature2_top-content {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.feature_image-wrapper-copy {
  aspect-ratio: 1;
  border: 1px solid var(--base-color-neutral--white);
  background-color: var(--background-primary);
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  display: flex;
}

.feature2_content {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.feature2_image {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 28rem;
  display: flex;
}

.tab_component {
  grid-column-gap: 4.5rem;
  grid-row-gap: 4.5rem;
  background-color: var(--secondary-background);
  border-radius: 1rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  padding: 5.5rem 3rem;
  display: flex;
}

.tab_tabs-menu {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  display: grid;
}

.tab_tabs-content {
  margin-top: 3rem;
}

.tab_tabs-link {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border: 1px solid var(--base-color-neutral--black);
  background-color: var(--transparent);
  color: var(--text-color--text-primary);
  text-transform: uppercase;
  border-radius: 4rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  transition: all .35s cubic-bezier(.165, .84, .44, 1);
  display: flex;
}

.tab_tabs-link:hover {
  background-color: var(--base-color-neutral--white);
}

.tab_tabs-link.w--current {
  background-image: radial-gradient(circle farthest-corner at 50% 130%, #dbca7c, var(--brand) 56%, #9a0a0a);
  color: var(--base-color-neutral--white);
  border-color: #ffffff4d;
  box-shadow: 0 -3px 4px #d600004d, 0 3px 4px #d600004d, 3px 0 4px #d600004d, -3px 0 4px #d600004d;
}

.tab_tabs-link.w--current:hover {
  color: var(--base-color-neutral--white);
}

.tab_tabs-icon {
  width: 1.8rem;
  line-height: 0;
}

.tab_tabs-pane-content {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 2.1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tab_image-wrapper {
  aspect-ratio: 2;
  border: 1px solid var(--base-color-neutral--white);
  background-color: var(--background-primary);
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  display: flex;
}

.tab_image {
  max-width: 33.19rem;
}

.loop_button {
  margin-right: 3rem;
}

.feature2_top-loop {
  background-color: var(--brand);
  border-radius: 50%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 9.75rem;
  height: 9.75rem;
  padding: .25rem;
  display: flex;
}

.footer {
  background-color: var(--secondary-background);
  padding-top: 6rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

.footer_title {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 32rem;
  display: flex;
}

.footer_credits {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer_link {
  opacity: .6;
  color: var(--text-color--text-primary);
  font-size: 1.25rem;
  transition: color .35s cubic-bezier(.165, .84, .44, 1);
}

.footer_link:hover {
  opacity: 1;
  color: var(--brand);
}

.footer_loop {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.footer_loop-mover {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  white-space: nowrap;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  display: grid;
}

.footer_loop-group {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  display: grid;
}

.footer_loop-image-wrapper {
  aspect-ratio: 3 / 2;
  border-radius: 1rem;
  min-width: 32rem;
  margin-right: 2rem;
  position: relative;
  overflow: hidden;
}

.feature2_loop-image {
  width: 100%;
}

.feature2_loop-icon {
  width: 1.5rem;
  line-height: 0;
  position: absolute;
}

.feature2_top {
  background-image: radial-gradient(circle farthest-corner at 50% 120%, #dbc67c, var(--brand) 52%, #9a0a0a);
  color: var(--text-color--text-alternate);
  text-align: center;
  border-radius: 50%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 9.75rem;
  height: 9.75rem;
  padding: .5rem;
  font-size: 1.25rem;
  font-weight: 400;
  transition: all .35s cubic-bezier(.165, .84, .44, 1);
  display: flex;
  position: relative;
}

.feature2_top.is-text {
  color: #000;
  background-color: #0000;
  border: 2px solid #0000;
}

.feature2_top.is-small {
  padding: .5rem 1.25rem;
}

.feature2_top.is-large {
  padding: 1rem 2rem;
}

.feature2_top.is-secondary {
  border: 1px solid var(--border-color--border-alternate);
  color: var(--text-color--text-primary);
  background-color: #0000;
}

.feature2_top.is-secondary.is-small {
  padding: .5rem 1.25rem;
}

.feature2_top.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.feature2_top.is-brand {
  background-color: var(--background-color--background-secondary);
}

.feature2_top.is-big {
  padding: 2rem;
}

.section_loop2, .section_video {
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
}

.video_video {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.features_group {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  display: flex;
}

.tab_image-container {
  aspect-ratio: 2;
  border: 1px solid var(--base-color-neutral--white);
  background-color: var(--background-primary);
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .nav_button {
    color: #fff;
  }

  .section_hero {
    padding-top: 3rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }

  .navbar1_menu.is-page-height-tablet {
    transition: height .5s;
  }

  .navbar1_link {
    width: auto;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .navbar1_menu-dropdown {
    width: 100%;
    font-size: 1.125rem;
  }

  .navbar1_dropdown-toggle {
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    display: flex;
  }

  .dropdown-chevron {
    inset: auto 0% auto auto;
  }

  .navbar1_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .navbar1_dropdown-list.w--open {
    border-style: none;
    padding: 0;
  }

  .navbar1_dropdown-link {
    width: auto;
    padding: .75rem 0 .75rem 5%;
  }

  .navbar1_menu-buttons {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-left: 0;
  }

  .navbar1_menu-button.w--open {
    background-color: #0000;
  }

  .menu-icon1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon1_line-top {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon1_line-middle {
    background-color: #000;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon1_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon1_line-bottom {
    background-color: #000;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .loop_text {
    font-size: 5rem;
  }

  .loop_icon {
    width: 4rem;
  }

  .feature_component {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    padding: 4rem 2rem;
  }

  .feature2_component, .tab_component {
    padding: 4rem 2rem;
  }

  .tab_tabs-menu {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .tab_tabs-pane-content {
    grid-template-columns: 2.1fr;
    width: 100%;
  }

  .tab_image-wrapper {
    aspect-ratio: auto;
    width: 100%;
  }

  .tab_image-container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .button.is-big {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .section_hero {
    padding-bottom: 4rem;
  }

  .navbar1_component {
    height: auto;
    min-height: 4rem;
  }

  .navbar1_logo-link {
    padding-left: 0;
  }

  .navbar1_menu.is-page-height-tablet {
    padding-bottom: 6rem;
  }

  .section_loop {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .loop_text {
    font-size: 4rem;
  }

  .feature2_image {
    width: 100%;
  }

  .tab_image {
    max-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .button.is-big {
    padding: .75rem 1.5rem;
  }

  .button.is-nav {
    padding: .5rem 1rem;
    font-size: 1rem;
  }

  .hero_heading {
    font-size: 2.5rem;
  }

  .navbar1_logo {
    width: 9rem;
  }

  .section_loop {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .loop_text {
    margin-right: 2rem;
    font-size: 3rem;
  }

  .loop_icon {
    width: 2.5rem;
    margin-right: 2rem;
  }

  .feature_component, .feature2_component {
    padding: 3rem 1.25rem;
  }

  .feature2_image {
    width: 100%;
  }

  .tab_component {
    padding: 3rem 1.25rem;
  }

  .tab_tabs-content {
    margin-top: 1.5rem;
  }

  .tab_tabs-link {
    font-size: .875rem;
  }

  .loop_button {
    margin-right: 2rem;
  }

  .footer_credits {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
  }

  .footer_loop-image-wrapper {
    min-width: 24rem;
  }

  .section_loop2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .tab_image-container {
    aspect-ratio: 3 / 2;
  }
}

#w-node-_86496976-f37d-a03c-0cbd-46b48de44e49-fd9a6b3a, #w-node-_8a7b71b8-935a-1472-9989-dd1d880d4cb1-fd9a6b3a, #w-node-_8530019f-97e7-ce39-1de9-6a94b5f4b928-fd9a6b3a, #w-node-_35ba80ff-f86e-b6e8-367b-d4b6789527fb-fd9a6b3a, #w-node-_35ba80ff-f86e-b6e8-367b-d4b678952801-fd9a6b3a, #w-node-_35ba80ff-f86e-b6e8-367b-d4b678952807-fd9a6b3a, #w-node-_74bc25a9-ae42-7361-f8c8-ac3374e25f21-fd9a6b3a, #w-node-_74bc25a9-ae42-7361-f8c8-ac3374e25f27-fd9a6b3a, #w-node-_194b59ec-7f0e-8af2-2e48-f0dd6a418590-fd9a6b3a, #w-node-d1c067ba-1b92-68df-58f0-c78983c2b1e5-fd9a6b3a, #w-node-d1c067ba-1b92-68df-58f0-c78983c2b1eb-fd9a6b3a, #w-node-d1c067ba-1b92-68df-58f0-c78983c2b1f1-fd9a6b3a {
  align-self: center;
}

#w-node-b224ec27-30fa-be84-48bf-7ed471542af3-fd9a6b3d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-fd9a6b3d {
  justify-self: start;
}

#w-node-_5d224905-8a1e-1460-7532-d38cb7ec37c1-fd9a6b3d, #w-node-_40538c8c-870b-b365-34c4-2a06f0f8567d-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-fd9a6b3d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-fd9a6b3d {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-fd9a6b3d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-fd9a6b3d {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-fd9a6b3d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-fd9a6b3d {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-fd9a6b3d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-fd9a6b3d {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-fd9a6b3d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-fd9a6b3d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-fd9a6b3d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-fd9a6b3d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-fd9a6b3d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-fd9a6b3d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-fd9a6b3d, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-fd9a6b3d, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-fd9a6b3d, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-fd9a6b3d, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-fd9a6b3d, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-fd9a6b3d {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-fd9a6b3d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-fd9a6b3d {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-fd9a6b3d, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd98-fd9a6b3d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-fd9a6b3d {
  justify-self: start;
}


@font-face {
  font-family: 'Sequel Sans Book Disp';
  src: url('../fonts/Sequel-Sans-Book-Disp.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}